/**
 * @name Collapsible Sidebars
 * @author scattagain, Avarotza
 * @version 0.0.8.9
*/

@import url('https://discordstyles.github.io/RadialStatus/RadialStatus.css');

:root
{
  --background-sidebar-color: var(--dark-background-sidebar);
  --background-userarea-color: var(--dark-status-panel);
  --status-panel: #0000 !important;

  /*
    * Spacing
  */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */
  /*
    * Widths
  */
  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
  /*
    * Shape
  */
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  /*
    * Colours
  */
  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-self-speaking-color: #57d39b; /* Colour for speaking ring in the bottom left while in a voice chat/call */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring & phone icon  */
  /*
    * Others
  */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/*Search bar radius fix*/
.sidebarListRounded_c48ade
{
  border-radius: 0 !important;
}
/* Collapsible sidebars */
.visual-refresh [class^="sidebarList_"] {
  position: fixed; /* Remove if you don't want it to float */
  width: 150px; /* Set to 0px if you don't want it to float */
  container-type: unset;
  opacity: 0%;
  height: 100%;
  z-index: 998;
  left: -70px;
  background-color: var(--background-sidebar-color);
  transition-property: all;
  transition-duration: .335s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh [class^="sidebar_"]:hover [class^="sidebarList_"] {
  left: 64px; /* 70 for good spacing, 64 for close knit spacing*/
  opacity: 100%;
  width: 300px; /* Set your preferred width here (resize handle is disabled) */
}

/*fixes the empty space after the image disappears*/
/*.container_f37cb1.clickable_f37cb1,
.content__99f8c div[style="height: 84px;"] /*fuck you discord in specific fix*/
/*{
/*   display: none !important; */ /*fixes the stupid bar below img/gif banners*/
/*}*/
.visual-refresh .container_f37cb1.clickable_f37cb1.hasBanner_f37cb1.bannerVisible_f37cb1
{
  display: block;
}

/*Image banner fix*/
/* /* .animatedContainer_f37cb1,
.bannerImage_f37cb1
{
  position: relative !important;
} */
.visual-refresh div.bannerImage_f37cb1 img.bannerImg_f37cb1
{
  width: 300px !important;
}
.visual-refresh [class*="guilds"] {
  z-index: 999; /* So the sidebar pops from behind the servers */
}

.visual-refresh [class^="panels_"] {
  position: fixed; /* Floating user panel (status, deafen, etc) */
  left: 5px;
  width: 52px;
  background-color: #0000 !important;
  border-radius: 25px !important;
  border: #0000 !important;
  z-index: 999;
  transition: all .325s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh .containerRtcOpened__37e49
{
  border-radius: 25px !important;
}
.visual-refresh .panel__5dec7 /*Current game panel | pill mode*/
{
  transition: all .325s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #0000 !important;
  border-radius: 25px 25px 0 0 !important; /*Might break something*/
  padding: 8px 8px 12px 8px;
  border-bottom-width: 0px;
  height: 0;
}
/*Gaming panel stuff*/
/* .body__5dec7
{
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 40px;
} */
/* .svg__2338f,
foreignObject[mask="url(#svg-mask-status-screenshare)"]
{
  height: 30px;
  width: 30px;
} */
.gameWrapper__5dec7
{
  margin-top: 2px;
  height: 40px;
  width: 40px;
}
.wrapper_a629d4
{
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 0 0 0 0;
}
.badge_a629d4
{
  bottom: 7px;
  height: 9px;
  position: absolute;
  right: 9px;
  width: 9px;
}
.gameWrapper__8c6c2
{
  margin-left: -3px;
}
.gameIconWrapper__8c6c2
{
  width: 40px;
  height: 40px;
}
.visual-refresh .panel__5dec7 img /*current game panel img*/
{
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 0;
  transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.body__5dec7        /*width patch*/
{
  width: auto; 
}
.container_e131a9,  /*button hider*/
.actions__4cd01,    /*button hider*/
.info__8c6c2,        /*button hider*/
.badge_a629d4,
.info__5dec7,
.gameIcon__8c6c2
{
  display: none !important;
  
}
.visual-refresh .panel__5dec7 .icon_a629d4
{
  display: none;
  /* border-radius: 0;
  margin-left: 4px;
  width: 32px;
  height: 32px; */
}
foreignObject[mask="url(#svg-mask-status-screenshare)"]
{
  mask: none;
}
.avatarStack__44b0c
{
  z-index: 1002 !important;
}
/* svg.svg__44b0c mask rect
{
  x: 24;
  y: 24;
  width: 20px !important;
  height: 20px !important;
}
.avatar__37e49 rect
{
  width: 9px !important;
  height: 9px !important;
} */
.liveBadge__8c6c2
{
  background-color: var(--background-userarea-color);
}
.container__37e49
{
  margin-left: 0;
}
.wrapper__44b0c.avatar__37e49
{
  background: linear-gradient(90deg, #434343b6 0%, #0000009c 100%);
  background-blend-mode: soft-light,screen;
}
.visual-refresh .wrapper__0d616 /*game Ad*/
{
  display: none;
}
/*-- Hover --*/
.visual-refresh [class^="panels_"]:hover /*Hover of the user Area*/
{ 
  border-radius: 12px !important;
  width: 240px;
  z-index: 9999;
  background: linear-gradient(135deg, rgba(67, 67, 67, .350) 0%, rgba(0, 0, 0, .350) 100%) !important;
  background-color: #0000007c !important;
  overflow: hidden;
}
.visual-refresh [class^="panels_"]:hover .container_e131a9, /* unpill stuff */
.visual-refresh [class^="panels_"]:hover .wrapper_e131a9:hover /* unpill stuff */
{
  opacity: 100%;
  scale: 100%;
  width: 229px;
  border-color: #0000;
  display: flex !important;
}
.visual-refresh [class^="panels_"]:hover .containerRtcOpened__37e49 /*no balls after call on hover*/
{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.visual-refresh [class^="panels_"]:hover .actions__4cd01, /* unpill stuff */
.visual-refresh [class^="panels_"]:hover .info__8c6c2, /* unpill stuff */
.visual-refresh [class^="panels_"]:hover .info__5dec7,
.visual-refresh [class^="panels_"]:hover .icon_a629d4,
.visual-refresh [class^="panels_"]:hover .wrapper__0d616,
.visual-refresh [class^="panels_"]:hover .gameIcon__8c6c2
{
  display: flex !important;
}
.visual-refresh [class^="panels_"]:hover .info__8c6c2, /* max width stuff */
.visual-refresh [class^="panels_"]:hover .info__5dec7
{
  width: 153px;
  max-width: 153px;
}
.visual-refresh [class^="panels_"]:hover .panel__5dec7 /*Hover of the current game panel*/
{
  padding: 8px 8px 12px 8px;
  height: auto;
}
.visual-refresh [class^="panels_"]:hover .gameWrapper__5dec7,
.visual-refresh [class^="panels_"]:hover .panel__5dec7 img /* Hover of the current game img*/
{
  opacity: 1;
  margin: 5px 0 0 0;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  transform: rotate(360deg);
}
.visual-refresh [class^="panels_"]:hover .gameWrapper__8c6c2
{
  margin-left: 0;
}
.visual-refresh [class^="panels_"]:hover img.icon_a629d4
{
  margin: 2px 0 0 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: rotate(360deg);
}
.visual-refresh [class^="panels_"]:hover .panelButtonContainer__4cd01 button:hover
{
  border-radius: 50px;
  scale: 1.4;
}
.visual-refresh [class^="panels_"]::after /*bg removal of the image*/
{ 
  padding-left: 20px;
}
.visual-refresh [class^="panels_"] .wrapper__0d616.wrapperVisible__0d616:hover
{ 
  height: 260px !important;
}
.visual-refresh [class^="panels_"] .content__60686.contentExpanded__636a2
{ 
  transform: translateY(calc(0% + 0px)) !important;
}
.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {

  opacity: 0%;
  scale: 0%; /* Because the buttons can't stay inside the panel on chromium (any help is appreciated) */
  transition-property: opacity, margin-bottom, scale;
  transition-duration: .445s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh [class^="panels_"]:hover .info__5dec7
{
  overflow: visible;
}
.avatar__44b0c::before
{
  background-color: #0000 !important;
}

.visual-refresh .panels_c48ade:hover [class^="container__"] [class^="buttons__"]
{
  scale: 100%;
  opacity: 100%;
}

.visual-refresh [class^="sidebarResizeHandle_"] {
  display: none; /* Set your preferred width in the sidebar settings */
}

.visual-refresh [class^="container_"] [class^="membersWrap_"] {
  position: fixed; /* Remove if you don't want it to float */
  height: 100%;
  opacity: 0%;
  z-index: 999;
  right: -240px;
  /*top: 80px;  /* Add/change this according to your desktop/client */
  filter: drop-shadow(-16px -16px 16px rgba(0, 0, 0, 0.096)) ;
  background-color: var(--background-sidebar-color);
  transition-property: right, opacity;
  transition-duration: .225s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh [class^="container_"] [class^="membersWrap_"]:hover {
  right: 0px;
  opacity: 100%;
}

.visual-refresh button.button__67645,
.visual-refresh span.button__67645
{
  transition: .225s cubic-bezier(0.165, 0.84, 0.44, 1); 
}