/**
 * @name Discord Mica patch
 * @author Avarotza
 * @version 0.2.6.8-6
 * @description patch for discord mica for other themes
*/
 @import url("https://raw.githubusercontent.com/PL7963/Discord-Mica/refs/heads/main/src/main.css");
 @import url("https://discord-mica.pages.dev/src/main.css");

 :root {
  /*Dark mode*/
  --dark-bg: transparent; /*rgba(240,185,190,0.113); to achieve screenshot looking*/
  --dark-flyout: rgba(30,30,30);
  --dark-accent: rgb(34, 149, 207);
  --dark-accent-hovered: rgb(65, 163, 214); /*also disabled button*/
  --dark-accent-font-color: rgb(10, 10, 10);
  --dark-button: rgb(45,45,45);
  --dark-button-border: rgb(60, 60, 60);
  --dark-button-font-color: white;
  --dark-background-accent: rgba(50,50,50,0.9);
  --dark-background-sidebar: rgba(31, 31, 31, 0.7);
  --dark-status-panel: rgba( 8, 8, 8, 0.8);
  --text-link: var(--dark-accent) !important;
  --background-message-highlight: hsla(from var(--dark-accent) h calc(s - 20) calc(l - 15) / 0.16);
  --text-brand: var(--dark-accent);
  --control-background-primary-default: var(--dark-accent);
  /* Titlebar */
  --custom-app-top-bar-height: calc(24px + var(--space-sm)); /* Set to 0 if you don't want to use Discord title-bar */
  --title-bar-icon: flex; /* Set to none to remove icons */
  --custom-input-border-color:var(--dark-accent) !important;
  }

.visual-refresh .clickable_f37cb1, .visual-refresh .hasBanner_f37cb1 .header_f37cb1, /*Server name*/
#app-mount .container__2637a, .sidebar_c48ade /*Server Sidebar*/,
.scroller__99e7c, .privateChannels__35e86 /*DMs Sidebar*/
{
	background: var(--dark-background-sidebar) !important;
}

/*Currently typing fix*/
.visual-refresh .form_f75fb0
{
  background-color: #0000;
    & .base_b88801
    {
      background-color: #0000;
        .typingDots_b88801, .cooldownText_b21699
        { /*typing blend*/
        background-color: #0000 !important;
        }
    }
}
/*Added image fix*/
.visual-refresh .form_f75fb0
{
  .channelAttachmentArea_b77158 
  {
    background-color: #0000;
  }
}
/*plugin reply fix*/
.visual-refresh .form_f75fb0
{
  & .channelTextArea_f75fb0
  {
    .stackedBars__74017
    {
      background-color: #0000 !important;
    }
  }
}
/*user popout fix*/
.outer_c0bea0.user-profile-popout,
.outer_c0bea0.user-profile-popout.themeContainer_ce8328,
.outer_c0bea0.user-profile-popout.container__5a2c6,
.outer_ab8609::after,
.outer_ab8609::before,
.container_ab8609 .outer_ab8609,
.inner_ab8609.clickable_ab8609,
.visual-refresh .wrapper__4e6ce,
.visual-refresh .inspector_aeaaeb,
.contentWrapper__9c62c,
.visual-refresh .searchResultsWrap_a9e706,
/*settings fix*/
.visual-refresh .cardPrimary__73069,
.visual-refresh .cardPrimary__73069.editable__73069,
.authedAppV2__50a54,
.connectContainer_c7f964,
.visual-refresh .root__49fc1,
.visual-refresh .vc-addon-card,
[class^="expandedContainer__"],
[class*="popover"],
[class*="popoverReactionHoverBar_"],
.visual-refresh .wrapper_f7ecac,
.groupCollapsedContainer__9d98d,
.groupContent__9d98d,
.visual-refresh .collapseable__217b7,
.visual-refresh .container_fc561d,
.visual-refresh .container__2692d,
.option__3f413[aria-selected=true]:not(.option__3f413.multi__3f413),
.row__0624f.marginBottom8_fd297e,
.background__1fed1,
.card__5cea9,
.box_f8c98c,
.accountProfileCard__1fed1,
.emptyContainer_de8069,
.defaultKeybindGroup__740f2,
.vc-card-base
{
  background-color: var(--dark-background-accent) !important;
}
:where(.overlay_c0bea0),
.visual-refresh .container__55c99,
:where(.visual-refresh) .menu_c1e9c4,
.user-profile-sidebar,
.visual-refresh .contentWrapper__08434,
.container_cb32c7,
.visual-refresh .searchResult__02a39,
.visual-refresh .bottomBar__0f481,
.visual-refresh .wrapper_f7ecac,
.visual-refresh .header__45690,
.popout__3f413,
.container_fed6d3,
.container__8a031
/* .visual-refresh .container__551b0 */
{
  background-color: var(--dark-background-sidebar) !important;
}
/* buttonsInner__5126c popover_f84418 popoverReactionHoverBar_f84418 wrapper_f7ecac */
.visual-refresh .footerSeparator__49fc1,
.voiceWidgetContainer__9d98d,
.container_d878e7.cardPrimary__73069.card__73069,
.carouselModal_d3a6f0.root__49fc1,
.visual-refresh .container_f369db,
.inner_ab8609,
.visual-refresh .messageContainer__95796,
.visual-refresh .carouselModal_d3a6f0.root__49fc1,
.visual-refresh .scroller__23746,
.lookFilled__201d5.colorPrimary__201d5,
.visual-refresh .header_c0e32c,
.panels_c48ade, .container__37e49,
.visual-refresh .collapseable__217b7,
.visual-refresh .header__8ef02,
.visual-refresh .header_fed6d3,
.visual-refresh .emojiPicker_c0e32c,
.wrapper_c0e32c,
.fieldList__1fed1,
.visual-refresh .channelHeader__35a7e,
.visual-refresh .messages__1ccd1,
.visual-refresh .messagesPopoutWrap__45690,
.quickswitcher_ac6cb0,
.container_fed6d3,
div.container_a2f514.fixClipping_efbae7,
.chatContent_f75fb0,
.chat_f75fb0,
.theme-dark .themed__9293f,
.theme-light .themed__9293f,
.nowPlayingColumn__133bf,
.tabBody__133bf
{
  background-color: #0000 !important;
}
.fixedContent__409aa:after
{
  background: #0000;
}
.card__73069,
.box_f8c98c,
.vc-card-base,
.vc-card-normal,
.vc-addon-card,
.embedFull__623de,
.secondary_a22cb0,
.folderGroupBackground__48112,
[class*="popover"],
.menu_c1e9c4,
.file__0ccae
{
  border-color: #0000 !important;
}
/*end me*/
.wrapper__14245.packHeader_e94b8c,
.wrapper__14245.header_c656ac,
.visual-refresh .messageGroupWrapper__45690,
.scroller_affa7e.thin_d125d2.scrollerBase_d125d2,
.embedFull__623de,
.content_fed6d3
{
  background-color: #222222;/*bruh*/
}
.upsellContainer__5997d,
[aria-label="Merch"],
[aria-label="Send a gift"],
.buttons__74017 div:nth-child(3),
.standardStickerShortcut__3ad28,
.unicodeShortcut_b9ee0c,
.pointerCover_d125d2
{
  display: none !important;
}
.channelHeader__35a7e,
.embedFull__623de.embed__623de.markup__75297.justifyAuto__623de
.actionMenuButton_d84e0f
{
  border-radius: 8px;
}
/*settings fix*/
.editPencilIcon__2d060 path /*Pencil at config*/
{
 fill: var(--dark-accent-font-color); 
}
.bgShade__6d791
{
  background-color: var(--dark-button);
}
.lookFilled__201d5.colorBrand__201d5
.actionMenuButton_d84e0f
{
  color: var(--dark-button-font-color) !important;
}
/*Accents*/
.newMessagesBar__0f481, /*New messages bar at top*/
.unreadPill__908e2.endCap__908e2, /*not read "new" msg text*/
.mention__3b95d, /*New at the server list*/
.visual-refresh .content__908e2, /*badge at the middle with the date*/
[class^="improved__"]:after, h3[class^="improved__"]:after, /*whats new*/
.numberBadge__2b1f5.base__2b1f5.eyebrow__2b1f5.baseShapeRound__2b1f5, /*unread circles*/
.newBadge__25879, /*new config badge*/
.replying__5126c:before, /*reply color*/
.mentioned__5126c:before, /*mentioned border color*/
.primary_a22cb0, /*default button*/
.lookFilled__201d5.colorBrand__201d5, /*Generic button*/
.actionMenuButton_d84e0f, /*... button*/
.newBadge__105ba, /*new badge*/
.vc-addon-badge,/*vencord new badge*/
.result__71961[aria-selected=true], /*quickswitcher selected*/
.loadMoreButton__5cea9, /*Load more button*/
.circleIconButton__5bc7e:hover:not(.disabled__5bc7e), /* channel "+" and "discover" button*/
.vc-btn-primary,
.mini_a562c8 .barFill_a562c8,
.slider_a562c8 .barFill_a562c8
{
  background-color: var(--dark-accent) !important;
}

[id="---new-messages-bar"], /*new messages line on not read*/
.wrapper__3412a:not([data-read-only=true]):not([data-disabled=true]):not(:focus-within):hover, /*gif picker border color*/
.reaction__23977.reactionMe__23977, /*reaction border*/
.wrapper__3412a:not([data-read-only=true]):has(input:focus,textarea:focus),/*emoji finder border*/
.wrapper__72c38:not([data-read-only=true]):not([data-disabled=true]):not(:focus-within):hover,
.input__0ed4f:not([readOnly]).focused__0ed4f,
.input__0ed4f:not([readOnly]).focused__0ed4f:hover,
.input__0ed4f:not([readOnly]):focus,
.input__0ed4f:not([readOnly]):focus:hover,
.isUnread__908e2
{
  border-color: var(--dark-accent) !important;
}
.unreadPillCapStroke__908e2, /*color for the badge ate the end*/
path[fill="var(--text-brand)"],
.lottieIconColors__5eb9b:hover :not(defs *)[fill][fill-opacity], /*gif, stickers*/
.active__24af7 .buttonWrapper__24af7, .buttonWrapper__24af7:hover /*gif, stickers*/
{
  fill:  var(--dark-accent) !important;
  color: var(--dark-accent) !important;
}
.content__908e2,/*date text at the middle of the unread alert*/
.newBadge__105ba,
.primary_a22cb0, /*default button*/
.lookFilled__201d5.colorBrand__201d5, /*Generic button*/
.actionMenuButton_d84e0f, /*... button*/
.lookFilled__201d5.colorBrand__201d5,
.result__71961[aria-selected=true] .name__71961 .match__71961, .result__71961[aria-selected=true] .note__71961, .result__71961[aria-selected=true] .misc__71961, /*quickswitcher selected*/
.loadMoreButton__5cea9, /*Load more button*/
.vc-special-title, .vc-special-text /*vencord*/
{
  color: var(--dark-button-font-color) !important;
}
[class^="improved__"], h3[class^="improved__"], /*whats new*/
.selectedIcon__3f413, /*selected checkmark*/
.reaction__23977.reactionMe__23977 .reactionCount__23977, /*reaction text*/
.container__927fc .text-md\/medium_cf4812,
.container__927fc .text-sm\/semibold_cf4812,
.title__9293f, /*chat panel title*/
.clickable_c99c29:hover,/*inbox button*/
.tab_f8303a.vertical_f8303a.selected_f8303a
{
  color: var(--dark-accent) !important;
}
.embedFull__623de.embed__623de.markup__75297.justifyAuto__623de /*embbed border*/
{
  border-left-color: var(--dark-accent) !important;
}
.reaction__23977.reactionMe__23977,
.categoryFadeBlurple_d02962
{
  background-color: hsla(from var(--dark-accent) h calc(s - 20) calc(l - 15) / .24) !important;
}
.mana-text-inputs .wrapper__3412a:not([data-read-only=true]):has(input:focus,textarea:focus),
.mana-text-inputs .wrapper__72c38:not([data-read-only=true]):has(input:focus,textarea:focus),
.wrapper__72c38:not([data-read-only=true]):has(input:focus,textarea:focus)
{
  outline: 2px solid var(--dark-accent) !important;
  outline-color: var(--dark-accent) !important;
}
.editPencilIcon__2d060 path,
path[fill="var(--interactive-normal)"],
.iconContainer__71961 path[fill="currentColor"]
{
  fill:  var(--dark-button-font-color) !important;
  color: var(--dark-button-font-color) !important;
}
.primary_a22cb0:hover,
.lookFilled__201d5:hover.colorBrand__201d5,/*button hover*/
.actionMenuButton_d84e0f:hover,
.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:hover,
.result__71961[aria-selected=true]:hover,
.lookFilled__201d5.colorPrimary__201d5:hover,
.vc-btn-primary:hover,
.hoverBarButton_f84418:hover,
.loadMoreButton__5cea9 /*Load more button*/
{
  background-color: hsla(from var(--dark-accent) h calc(s - 20) calc(l - 15) / 1) !important;
}
.primary_a22cb0:active,
.lookFilled__201d5:active.colorBrand__201d5,/*button hover*/
.actionMenuButton_d84e0f:active,
.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:active,
.lookFilled__201d5.colorPrimary__201d5:active,
.circleIconButton__5bc7e:active:not(.disabled__5bc7e),
.vc-btn-primary:active,
.hoverBarButton_f84418:active
.loadMoreButton__5cea9 /*Load more button*/
{
  background-color: hsla(from var(--dark-accent) h calc(s - 40) calc(l - 40) / 1) !important;
}
.themed_aa8da2.item_aa8da2
{
  color: rgb(216, 216, 216);
}
.item_aa8da2.selected_aa8da2.themed_aa8da2
{
  color: var(--dark-button-font-color) !important;
}

.eyebrow_cf4812.headerText_aa8da2
{
  color: rgb(216, 216, 216);
  text-decoration: underline !important;
}

.topic__6ec1a a,
.markup__75297 a,
.anchor_edefb8
{
  color: var(--dark-accent);
}

.topic__6ec1a a:hover,
.markup__75297 a:hover,
.anchor_edefb8:hover
{
  color: hsla(from var(--dark-accent) h calc(s - 20) calc(l - 15) / 1) !important;
  text-decoration: underline dashed;
}

.topic__6ec1a a:active,
.markup__75297 a:active,
.anchor_edefb8:active
{
  color: hsla(from var(--dark-accent) h calc(s - 20) calc(l - 25) / 1) !important;
  text-decoration: underline;
}
.radioIndicatorChecked__88a69 .refreshIconStroke__88a69
{
  stroke: var(--dark-accent);
}
.collapseButton__427f0
{
  left: -3px !important;
}
.markReadButton__427f0
{
    margin: 0 12px;
}
.top_aa8da2 .item_aa8da2.brand_aa8da2
{
  --selected-tab-item-color: var(--dark-accent);
}
.tab_f8303a.vertical_f8303a.selected_f8303a
{
  border-inline-start: 1.5px solid var(--dark-accent)
}
.chat_f75fb0[data-has-border=true],
.container_c8ffbb
{
  border: none !important;
}