/**
 * @name Discord Mica patch
 * @author Avarotza
 * @version 0.2.6.5
 * @description patch for discord mica for other themes
*/
 @import url("https://raw.githubusercontent.com/PL7963/Discord-Mica/refs/heads/main/src/main.css");
 @import url("https://discord-mica.pages.dev/src/main.css");

 :root {
  /*Dark mode*/
  --dark-bg: transparent; /*rgba(240,185,190,0.113); to achieve screenshot looking*/
  --dark-flyout: rgba(30,30,30);
  --dark-accent: rgb(34, 149, 207);
  --dark-accent-hovered: rgb(65, 163, 214); /*also disabled button*/
  --dark-accent-font-color: rgb(10, 10, 10);
  --dark-button: rgb(45,45,45);
  --dark-button-border: rgb(60, 60, 60);
  --dark-button-font-color: white;
  --dark-background-accent: rgba(50,50,50,0.9);
  --dark-background-sidebar: rgba(31, 31, 31, 0.7);
  --dark-status-panel: rgba( 8, 8, 8, 0.8);
  --text-link: var(--dark-accent) !important;
  --dark-accent: var(--dark-accent) !important;
  --text-link: var(--dark-accent) !important;
  /* Titlebar */
  --custom-app-top-bar-height: calc(24px + var(--space-sm)); /* Set to 0 if you don't want to use Discord title-bar */
  --title-bar-icon: flex; /* Set to none to remove icons */
  }

.visual-refresh .clickable_f37cb1, .visual-refresh .hasBanner_f37cb1 .header_f37cb1, /*Server name*/
#app-mount .container__2637a, .sidebar_c48ade /*Server Sidebar*/,
.scroller__99e7c, .privateChannels__35e86 /*DMs Sidebar*/
{
	background: var(--dark-background-sidebar) !important;
}

/*Currently typing fix*/
.visual-refresh .form_f75fb0
{
  background-color: #0000;
    & .base_b88801
    {
      background-color: #0000;
        .typingDots_b88801, .cooldownText_b21699
        { /*typing blend*/
        background-color: #0000 !important;
        }
    }
}
/*Added image fix*/
.visual-refresh .form_f75fb0
{
  .channelAttachmentArea_b77158 
  {
    background-color: #0000;
  }
}
/*plugin reply fix*/
.visual-refresh .form_f75fb0
{
  & .channelTextArea_f75fb0
  {
    .stackedBars__74017
    {
      background-color: #0000 !important;
    }
  }
}
/*user popout fix*/
.outer_c0bea0.user-profile-popout,
.outer_c0bea0.user-profile-popout.themeContainer_ce8328,
.outer_c0bea0.user-profile-popout.container__5a2c6,
.outer_ab8609::after,
.outer_ab8609::before,
.container_ab8609 .outer_ab8609,
.inner_ab8609.clickable_ab8609,
.container_fed6d3,
.visual-refresh .wrapper__4e6ce,
.visual-refresh .inspector_aeaaeb,
.contentWrapper__9c62c,
.visual-refresh .searchResultsWrap_a9e706,
/*settings fix*/
.visual-refresh .cardPrimary__73069,
.visual-refresh .cardPrimary__73069.editable__73069,
.authedAppV2__50a54,
.connectContainer_c7f964,
.visual-refresh .root__49fc1,
.visual-refresh .vc-addon-card,
[class^="expandedContainer__"],
[class*="popover"],
[class*="popoverReactionHoverBar_"],
.visual-refresh .wrapper_f7ecac,
.groupCollapsedContainer__9d98d,
.groupContent__9d98d,
.visual-refresh .collapseable__217b7,
.visual-refresh .messagesPopoutWrap__45690,
.visual-refresh .container_fc561d,
.visual-refresh .container__2692d
{
  background-color: var(--dark-background-accent) !important;
}
:where(.overlay_c0bea0),
.visual-refresh .container__55c99,
:where(.visual-refresh) .menu_c1e9c4,
.user-profile-sidebar,
.visual-refresh .contentWrapper__08434,
.container_cb32c7,
.visual-refresh .searchResult__02a39,
.visual-refresh .bottomBar__0f481,
.visual-refresh .wrapper_f7ecac,
.visual-refresh .header__45690,
.visual-refresh .channelHeader__35a7e
/* .visual-refresh .container__551b0 */
{
  background-color: var(--dark-background-sidebar) !important;
}
/* buttonsInner__5126c popover_f84418 popoverReactionHoverBar_f84418 wrapper_f7ecac */
.visual-refresh .footerSeparator__49fc1,
.voiceWidgetContainer__9d98d,
.container_d878e7.cardPrimary__73069.card__73069,
.carouselModal_d3a6f0.root__49fc1,
.visual-refresh .container_f369db,
.inner_ab8609,
.visual-refresh .messageContainer__95796,
.visual-refresh .carouselModal_d3a6f0.root__49fc1,
.visual-refresh .scroller__23746,
.lookFilled__201d5.colorPrimary__201d5
{
  background-color: #0000 !important;
}
.visual-refresh .header_fed6d3,/*end me*/
.visual-refresh .header__8ef02,
.wrapper__14245.packHeader_e94b8c,
.wrapper__14245.header_c656ac,
.visual-refresh .header_c0e32c,
.visual-refresh .emojiPicker_c0e32c,
.visual-refresh .messageGroupWrapper__45690,
.visual-refresh .messages__1ccd1
{
  background-color: #222222;/*bruh*/
}
.upsellContainer__5997d,
[aria-label="Merch"],
[aria-label="Send a gift"],
.buttons__74017 div:nth-child(4),
.standardStickerShortcut__3ad28,
.unicodeShortcut_b9ee0c
{
  display: none !important;
}
.channelHeader__35a7e
{
  border-radius: 8px;
}
/*settings fix*/
.editPencilIcon__2d060 path /*Pencil at config*/
{
 fill: var(--dark-accent-font-color); 
}
.bgShade__6d791
{
  background-color: var(--dark-button);
}
.lookFilled__201d5.colorBrand__201d5
{
  color: var(--dark-button-font-color) !important;
}
/*Accents*/
.newMessagesBar__0f481, /*New messages bar at top*/
.unreadPill__908e2.endCap__908e2, /*not read "new" msg text*/
.mention__3b95d, /*New at the server list*/
.visual-refresh .content__908e2, /*badge at the middle with the date*/
[class^="improved__"]:after, h3[class^="improved__"]:after, /*whats new*/
.numberBadge__2b1f5.base__2b1f5.eyebrow__2b1f5.baseShapeRound__2b1f5, /*unread circles*/
.newBadge__25879 /*new config badge*/
{
  background-color: var(--dark-accent) !important;
}
[id="---new-messages-bar"] /*new messages line on not read*/
{
  border-color: var(--dark-accent) !important;
}
.unreadPillCapStroke__908e2 /*color for the badge ate the end*/
{
  fill:  var(--dark-accent) !important;
  color: var(--dark-accent) !important;
}
.content__908e2/*date text at the middle of the unread alert*/
{
  color: var(--dark-button-font-color) !important;
}
[class^="improved__"], h3[class^="improved__"] /*whats new*/
{
  color: var(--dark-accent);
}