.bar_c38106
{
    pointer-events: none;
}
.trailing_c38106
{
    margin-top: 80px;
    pointer-events: all !important;
    z-index: 101 !important;
}
.base__5e434
{
    margin-top: -34px;
}
.winButtons_c38106
{
    pointer-events: all !important;
}